/* You can add global styles to this file, and also import other style files */
.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }
 body{
    background-image: url("../../wallhaven-659729.jpg"); 
    background-color: black ; 
    background-position: initial; 
    background-repeat: no-repeat; 
    background-size: cover
 }